<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=7a8olp7fvf"></script>
		<link rel="stylesheet" href="/public/css/header.css">
        <link rel="stylesheet" href="/public/css/base.css">
		<link rel="stylesheet" href="/public/css/footer.css">
        <link rel="stylesheet" href="/public/css/edit-plan.css">

        <title> Edit <%=plan.title%> | Sample </title>
    </head>
    <body class="container">
        <header>
            <h1><%=plan.title%></h1>
            참여자 : <%=plan.participants%>
            <button class="inv-btn">초대</button>
            <p>출발일 : </p>
            <p>도착일 : </p>
        </header>
        <main>
            <!--네이버 지도, 검색창 자리 수정 필요-->
            
            <div id="place" class="search">
                <input type="text" placeholder="검색창">
            </div>

            <div id="map" class="map">

            </div>
            <!--js,css 파일 따로 만들기-->
            <script>
                var mapOptions = {
                    center: new naver.maps.LatLng(37.3595704, 127.105399),
                    zoom: 10
                    };
                var map = new naver.maps.Map('map', mapOptions);
            </script>

            <div class= "place-box">
                <button class="add-btn">일정 추가</button>
                <!--일정 마다 day 다르게, input으로-->
                <div class="place-list">
                    <div class="day-box">
                        <h3>Day1</h3>
                    </div>
                    <div class="place-object">
                        <button class="del-btn">❌</button>
                        <h4 class="obj-name">상호명 / 사용자가 설정한 이름</h4> <!--편집가능하게-->
                        <textarea class="obj-memo" placeholder="메모"></textarea>
                    </div>
                    <div class="place-object">
                        <button class="del-btn">❌</button>
                        <h4 class="obj-name">상호명 / 사용자가 설정한 이름</h4> <!--편집가능하게-->
                        <textarea class="obj-memo" placeholder="메모"></textarea>
                    </div>
                    <div class="place-object">
                        <button class="del-btn">❌</button>
                        <h4 class="obj-name">상호명 / 사용자가 설정한 이름</h4> <!--편집가능하게-->
                        <textarea class="obj-memo" placeholder="메모"></textarea>
                    </div>
                    <div class="place-object">
                        <button class="del-btn">❌</button>
                        <h4 class="obj-name">상호명 / 사용자가 설정한 이름</h4> <!--편집가능하게-->
                        <textarea class="obj-memo" placeholder="메모"></textarea>
                    </div>
                    <div class="place-object">
                        <button class="del-btn">❌</button>
                        <h4 class="obj-name">상호명 / 사용자가 설정한 이름</h4> <!--편집가능하게-->
                        <textarea class="obj-memo" placeholder="메모"></textarea>
                    </div>
                    <div class="place-object">
                        <button class="del-btn">❌</button>
                        <h4 class="obj-name">상호명 / 사용자가 설정한 이름</h4> <!--편집가능하게-->
                        <textarea class="obj-memo" placeholder="메모"></textarea>
                    </div>
                    <div class="place-object">
                        <button class="del-btn">❌</button>
                        <h4 class="obj-name">상호명 / 사용자가 설정한 이름</h4> <!--편집가능하게-->
                        <textarea class="obj-memo" placeholder="메모"></textarea>
                    </div>
                </div>
                <button class="save-btn">저장하기</button>
            </div>

            <div class="recommandation-box">
                    <!--추천 장소 뜨기-->
                <div class="recommandation-object">
                    <div class="info">
                        <h2>이름</h2>
                        <p>요약</p>
                        <button class="obj-add-btn">추가</button>
                    </div>
                    <img src="http://t1.kakaocdn.net/thumb/T800x0.q80/?fname=http%3A%2F%2Ft1.daumcdn.net%2Fplace%2F99EEE4C723274F2786F1A3BC2690F21F", alt="추천 장소" class="obj-img">
                </div>
                <div class="recommandation-object">
                    <div class="info">
                        <h2>이름</h2>
                        <p>요약</p>
                        <button class="obj-add-btn">추가</button>
                    </div>
                    <img src="http://t1.kakaocdn.net/thumb/T800x0.q80/?fname=http%3A%2F%2Ft1.daumcdn.net%2Flocalad_thumb%2Ft%2F3c88d4d6d9374d4212ccdd16529386671367cd68", alt="추천 장소" class="obj-img">
                </div>
            </div>

            <div class="chatting">chatting</div>
        </main>

            <footer>
                &copy; <%=new Date().getFullYear()%> Sample Project
            </footer>
    </body>
</html>