<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=7a8olp7fvf"></script>
		<link rel="stylesheet" href="/public/css/main.css">        
        <link rel="stylesheet" href="/public/css/base.css">
        <link rel="stylesheet" href="/public/css/main-button.css">
        <!--구글 웹폰트-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jua&   display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=IBM+Plex+Sans+KR:wght@600&display=swap" rel="stylesheet">
        <!--스크롤 애니메이션-->
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">


        <title> Main | Sample </title>
    </head>
    <body>
        <header id="header">
            <div class="banner">
                <div class="logobox">
                    <img src="/public/images/logo-wt.png" class="logo">
                </div>
                <div class="menubar">
                        <a href="#content1" class="menu-btn">프로젝트 소개</a>
                        <a href="#content2" class="menu-btn">이용 Guide</a>
                        <a href="#content3" class="menu-btn">시작하기</a>
                </div>
            </div>
            
        </header>
        <main>
            <div class="title" onclick="location.href='#content1';">
                <div class="title-box">
                    <h4 id="project-title">🛫<span class="pj-title">JEJU'S</span>🛫</h4>
                    <h4 id="project-info">모두가 함께하는 여행 플래너</h4>
                </div>
            </div>
            <div class="content1" id="content1">
                <div class="content1-box">
                    <div class="cooperation">
                        <h2 class="content-title" data-aos="fade-up" data-aos-duration="1500">새로운 여행, 새로운 방식으로</h2> 
                    </div>
                    <div class="chats">
                        <div class="chat1" data-aos="fade-down">
                            우리 여행계획 어떻게 짤까📋?
                        </div>
                        <div class="chat2" data-aos="fade-down" data-aos-delay="500">
                            코로나때문에 모이기 좀 어렵지 않을까?
                        </div>
                        <div class="chat3" data-aos="fade-down" data-aos-delay="1200">
                            그냥 카카O톡으로 짜자
                        </div>
                        <div class="chat4" data-aos="fade-down" data-aos-delay="1000">
                            나 시간이 안날거같아서..알아서 짜~
                        </div>
                        <div class="chat5" data-aos="fade-down" data-aos-delay="1600">
                            여행 계획을 편하게 같이 짤 방법이 없을까?
                        </div>
                        <div class="chat6" data-aos="fade-down" data-aos-delay="1700">
                            내가 가는 여행지에 갈만한 곳 찾기가 어렵네..
                        </div>
                        <div class="chat7" data-aos="fade-down" data-aos-delay="1800">
                            모두의 니즈를 쉽게 만족시킬 수는 없을까?
                        </div>
                        <div class="chat8" data-aos="fade-down" data-aos-delay="1900">
                            계획 짜는것도 피곤한 일이네😫
                        </div>
                        <div class="chat9" data-aos="fade-down" data-aos-delay="2000">
                            같이가는 여행 혼자 계획하려니 막막하네..😑
                        </div>
                        <div class="chat10" data-aos="fade-down" data-aos-delay="2100">
                            다음에 계획 짤 땐 시간 내서 만나야겠다😥
                        </div>
                        <div class="chat11" data-aos="fade-down" data-aos-delay="2200">
                            계획을 같이 짜고싶은데 쉽지가 않네
                        </div>
                        <div class="chat12" data-aos="fade-down" data-aos-delay="2300"
                        data-aos-offset="100">
                            어디 야무진 협업 플래너 없나😏?
                        </div>
                    </div>
                    <img src="../public/images/logo.png" class="logo-small">
                    <div class="pj-info">
                        <h1><span class="pj-title">JEJU'S</span>는 실시간 협업 여행 플래닝 플랫폼입니다.</h1>
                        <h3>어디서든 편하게, 함께하고 싶은 사람과 여행 계획을 짤 수 있는 새로운 방식을 제안합니다.<span class="pj-title"> JEJU'S</span>를 통해 다양한 관광지를 추천받고,</br> 실시간으로 소통하며 여행을 계획해보세요 !</h3>
                    </div>
                </div>
            </div>
            <div class="content2">
                <div class="content2-box">
                    <div class="planning">
                        <h2 class="content-title" data-aos="fade-up" data-aos-duration="1500">미리 만나보는 내 여행</h2>
                    </div>
                    <div class="planning-info">
                        <div class="plan-info">
                        <h3><span class="pj-title">JEJU'S</span>에서 전체 여정을 확인할 수 있습니다.</h3>
                        </div>
                        <div class="plan-ex"
                        data-aos="fade-up" data-aos-duration="1500" data-aos-delay="500">
                            기록예시
                        </div>
                        <div class="visual-info">
                            <h3>여행 경로를 확인하고,</br> 내 여행을 간접적으로 경험해보세요</h3>
                        </div>
                        <div class="visual-ex"
                        data-aos="fade-up" data-aos-duration="1500" data-aos-delay="500">
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="content-box">
                    <div class="recommendation">
                        <h2 class="content-title">빅데이터 분석 기반의 관광지 추천</h2> 
                    </div>
                    <div class="recommendation-info">
                        <div class="reco-info">
                            <h3>관광지 방문객들의 평가, 리뷰 등을 분석하여</br>엄선된 관광지들을 권역별로 추천받고</br>여정에 맞는 관광지를 추가하세요</h3>
                        </div>
                        <div class="reco-ex">
                            list example or content example
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="content-box">
                    <div class="cooperation" id="content2">
                        <h2 class="content-title">이용방법</h2> 
                    </div>
                    <div class="slide-wrap">
                        <div class="slide-box">
                            <div class="slide-list clearfix">
                                <div class="slide-content slide01">
                                    <div class="content4-box">
                                        <div class="content4-info">
                                            <h1>로그인하기</h1>
                                            <h3>구글 계정으로 로그인합니다.</h3>
                                        </div>
                                        <div class="content4-img">
                                            img
                                        </div>
                                    </div>
                                </div>
                                <div class="slide-content slide02">
                                    <div class="content4-box">
                                        <div class="content4-info">
                                            <h1>새 계획 생성하기</h1>
                                            <h3>메뉴에서 새 계획 생성 버튼을 눌러 새 계획을 생성합니다.</h3>
                                            <h4>tip. 일정은 5일까지 지정할 수 있습니다.</h4>
                                        </div>
                                        <div class="content4-img">
                                            img
                                        </div>
                                    </div>
                                </div>
                                <div class="slide-content slide03">
                                    <div class="content4-box">
                                        <div class="content4-info">
                                            <h1>그룹원 초대하기</h1>
                                            <h3>초대 버튼을 눌러 여행을 함께할 그룹원을 초대합니다.</h3>
                                        </div>
                                        <div class="content4-img">
                                            img
                                        </div>
                                    </div>
                                </div>
                                <div class="slide-content slide04">
                                    <div class="content4-box">
                                        <div class="content4-info">
                                            <h1>플래너 편집하기</h1>
                                            <h3>검색창을 이용하여 방문할 관광지를 입력합니다.</br>권역을 선택해서 관광지를 추천받습니다.</br>
                                            실시간 그룹 채팅을 통해 그룹원들과 소통할 수 있습니다.</h3>
                                        </div>
                                        <div class="content4-img">
                                            img
                                        </div>
                                    </div>
                                </div>
                                <div class="slide-content slide05">
                                    <div class="content4-box">
                                        <div class="content4-info">
                                            <h1>플래너 저장하기</h1>
                                            <h3>저장 버튼을 눌러 플랜을 저장합니다.</h3>
                                        </div>
                                        <div class="content4-img">
                                            img
                                        </div>
                                    </div>
                                </div>
                                <div class="slide-content slide06">
                                    <div class="content4-box">
                                        <div class="content4-info">
                                            <h1>플랜 확인하기</h1>
                                            <h3>메뉴에서 플랜 이름을 눌러 플랜을 확인할 수 있습니다.</h3>
                                            <h3>전체 일정을 요약해서 보거나, 세부 일정을 확인할 수 있습니다.</h3>
                                        </div>
                                        <div class="content4-img">
                                            img
                                        </div>
                                    </div>
                                </div>
                            </div>
                    <!-- // .slide-list -->
                        </div>
                    <!-- // .slide-box -->
                        <div class="slide-btn-box">
                            <button type="button" class="slide-btn-prev"><</button>
                            <button type="button" class="slide-btn-next">></button>
                        </div>
                    <!-- // .slide-btn-box -->
                        <ul class="slide-pagination"></ul>
                    <!-- // .slide-pagination -->
                    </div>
                </div>
            </div>
            <!-- // .slide-wrap -->
            
            <button type="button" onclick= "location.href ='/login'" class="login-btn" id="content3">
                Google로 시작하기
            </button>
        </main>
        <footer>
            <div>
                asggg
            </div>
        </footer>
        <script type="text/javascript" src="/public/js/main.js"></script>
        <script type="text/javascript" src="/public/js/main-slider.js"></script>
        <script type="text/javascript" src="/public/js/header.js" defer></script>
        <!--스크롤 애니메이션-->
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>
    </body>
</html>