<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../src/public/css/plantopdf.css">
    <title>Plan to PDF</title>
</head>
<body class="wrap">
    <div class="container">
        <div class="plan-info">
            <dIV><h1>Title</h1></dIV>
            <div><h3>YYYY-MM-DD ~ YYYY-MM-DD</h3></div>
            <div>USER1 / USER2 / USER 3</div>
        </div>
        <div class="map">i'm map</div>
        <div>
            <h1>Title Day 1</h1>
        </div>
        <div class="place-obj">
            <div class="obj"><h3>title</h3><p>adress</p></div>
            <div class="obj"><h3>title</h3><p>adress</p></div>
            <div class="obj"><h3>title</h3><p>adress</p></div>
            <div class="obj"><h3>title</h3><p>adress</p></div>
        </div>
        <div>
            <h1>Title Day 1</h1>
        </div>
        <div class="place-obj">
            <div class="obj"><h3>title</h3><p>adress</p></div>
            <div class="obj"><h3>title</h3><p>adress</p></div>
            <div class="obj"><h3>title</h3><p>adress</p></div>
            <div class="obj"><h3>title</h3><p>adress</p></div>
        </div>
        <div>
            <h1>Title Day 1</h1>
        </div>
        <div class="place-obj">
            <div class="obj"><h3>title</h3><p>adress</p></div>
            <div class="obj"><h3>title</h3><p>adress</p></div>
            <div class="obj"><h3>title</h3><p>adress</p></div>
            <div class="obj"><h3>title</h3><p>adress</p></div>
        </div>
    </div>
    </body>
</html>