<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../src/public/css/plantopdf.css">
    <title>Plan to PDF</title>
</head>
<body>
<div class="wrap">
    <div class="container">
        <div class="plan-info">
            <dIV><h1>Title</h1></dIV>
            <div><h3>YYYY-MM-DD ~ YYYY-MM-DD</h3></div>
            <div class="participants">
                <div>
                    <img src="userimg.jpg">
                    <span>username</span>
                </div>
                <div>
                    <img src="userimg.jpg">
                    <span>username</span>
                </div>
                <div>
                    <img src="userimg.jpg">
                    <span>username</span>
                </div>
                <div>
                    <img src="userimg.jpg">
                    <span>username</span>
                </div>
                <div>
                    <img src="userimg.jpg">
                    <span>username</span>
                </div>
                <div>
                    <img src="userimg.jpg">
                    <span>username</span>
                </div>
            </div>
        </div>
        <div class="map">i'm map</div>
        <div class="day">
            <h1>Title Day 1</h1>
        </div>
        <div class="place-obj">
            <div class="timeline">
                <div class="obj">
                    <h3>이춘옥원조고등어쌈밥 애월본점</h3>
                    <p>제주특별자치도 제주시 애월읍 일주서로 7213 1층</p>
                </div>
            </div>
            <div class="timeline">
                <div class="obj">
                    <h3>title</h3>
                    <p>adress</p>
                </div>
            </div>
            <div class="timeline">
                <div class="obj">
                    <h3>title</h3>
                    <p>adress</p>
                </div>
            </div>
            <div class="timeline">
                <div class="obj">
                    <h3>title</h3>
                    <p>adress</p>
                </div>
            </div>
        </div>
        <div class="day">
            <h1>Title Day 1</h1>
        </div>
        <div class="place-obj">
            <div class="timeline">
                <div class="obj">
                    <h3>title</h3>
                    <p>adress</p>
                </div>
            </div>
            <div class="timeline">
                <div class="obj">
                    <h3>title</h3>
                    <p>adress</p>
                </div>
            </div>
            <div class="timeline">
                <div class="obj">
                    <h3>title</h3>
                    <p>adress</p>
                </div>
            </div>
            <div class="timeline">
                <div class="obj">
                    <h3>title</h3>
                    <p>adress</p>
                </div>
            </div>
        </div>
        <div class="day">
            <h1>Title Day 1</h1>
        </div>
        <div class="place-obj">
            <div class="timeline">
                <div class="obj">
                    <h3>title</h3>
                    <p>adress</p>
                </div>
            </div>
            <div class="timeline">
                <div class="obj">
                    <h3>title</h3>
                    <p>adress</p>
                </div>
            </div>
            <div class="timeline">
                <div class="obj">
                    <h3>title</h3>
                    <p>adress</p>
                </div>
            </div>
            <div class="timeline">
                <div class="obj">
                    <h3>title</h3>
                    <p>adress</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<footer></footer>
</html>