<!DOCTYPE html-->
<html>
    <head>
        <meta charset = "UTF-8">
        <meta name="description" >
        <link rel="stylesheet" href="https://unpkg.com/mvp.css">
        <title> Profile | Sample </title>
    </head>
    <body>
        <header>
        <img src="" alt="LOGO">
        </header>
        <div class="sidebar">
            <ul> <!--유저 플랜 목록 function 해야 함-->
                <li> plan 1🚔</li>
                <li> plan 2🛫</li>
        </div>
        <main>
            <div class="main-content">
                <img src="" alt="user photo">
                <p>이름</p>
                <p>이메일</p>

            </div>
        </main>

            <footer><!--년도 계산 내장 function 사용해야 함-->
                &copy; 2021 Sample Project
            </footer>
    </body>
</html>