<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=7a8olp7fvf"></script>
		<link rel="stylesheet" href="../../src//public/css/main.css">        
        <link rel="stylesheet" href="../../src/public/css/base.css">
        <link rel="stylesheet" href="../../src/public/css/main-button.css">
        <!--구글 웹폰트-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
        <title> Main | Sample </title>
    </head>
    <body>
        <header>
            <div class="banner">
                <div class="logobox">
                    <img src="../../src/public/images/logo.png" class="logo">
                </div>
                <div class="menubar">
                        <a href="#" class="menu">프로젝트 소개</a>
                        <a href="#" class="menu">이용 Guide</a>
                        <a href="#" class="menu">시작하기</a>
                </div>
            </div>
            
        </header>
        <main>
            <div class="content1">
                <div class="content-box">
                    <h1 id="project-title">🛫함께하는 여행 계획 짜기🛫</h1>
                    <h4 id="project-info">같이 짜보세용</h4>
                </div>
            </div>
            <div class="content2">
                <div class="content-box">
                    <h1>협업 관련 사항</h1> 
                </div>
            </div>
            <div class="content3">
                <div class="content-box">
                    <h1>여행계획 기록, 시각화에 관한 사항</h1>
                </div>
            </div>
            <div class="content4">
                <div class="content-box">
                    <h1>여행지 추천 서비스 소개</h1>
                </div>
            </div>
            <div class="content5">
                <div class="content-box">
                    <h1>로그인</h1>
                </div>
            </div>
            <div class="content6">
                <div class="content-box">
                    <h1>새 계획 생성</h1>
                </div>
            </div>
            <div class="content7">
                <div class="content-box">
                    <h1>사용자 초대</h1>
                </div>
            </div>
            <div class="content8">
                <div class="content-box">
                    <h1>플래너 편집 시작</h1>
                </div>
            </div>
            <div class="content9">
                <div class="content-box">
                    <h1>플래너 저장</h1>
                </div>
            </div>
            <div class="content10">
                <div class="content-box">
                    <h1>우리 플랜 확인하기</h1>
                </div>
            </div>
            <button type="button" onclick= "location.href ='/login'">
                google로 시작하기
            </button>
        </main>
        <footer>
            <div>
                asggg
            </div>
        </footer>
        <script type="text/javascript" src="../../src/public/js/main.js"></script>
    </body>
</html>