* {
  list-style: none;
  font-family: "Gowun Dodum", sans-serif;
}

.title {
  font-weight: bold;
  font-size: 30px;
}

.container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: grid;
  background: #085078; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #85d8ce,
    #085078
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #85d8ce,
    #085078
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container::-webkit-scrollbar {
  display: none;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
