* {
  list-style: none;
  font-family: "Gowun Dodum", sans-serif;
}

.title {
  font-weight: bold;
  font-size: 30px;
}

.container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: grid;
  background: whitesmoke;
}

.container::-webkit-scrollbar {
  display: none;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #979fa1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

::-webkit-scrollbar-corner {
  display: none;
}
