#popup {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  gap: 0.2rem;
  position: absolute;
  border: none;
  width: 8rem;
  height: 3rem;
  border-radius: 20px;
  left: 90%;
  top: 88%;
  background-color: rgb(191, 255, 247);
  z-index: 9999;
}

#popup:hover {
  background-color: rgb(151, 201, 195);
  transition: 0.3s;
  font-weight: bold;
}

.chatting {
  display: none;
  flex-direction: column;
  width: 20vw;
  height: 70vh;
  z-index: 9999;
  background-color: #dde4ff;
  position: absolute;
  justify-content: space-between;
  top: 10%;
  left: 71%;
  border-radius: 5px;
  border: 1px solid rgba(104, 104, 104, 0.616);
}

#chatAreaheader {
  cursor: grab;
  z-index: 10;
  background-color: #9eafff;
  margin: 0 0 15px 0;
  width: 100%;
  height: 40px;
}

#chatAreaheader:active {
  cursor: grabbing;
}

#chatAreaheader button {
  float: right;
  margin-top: 2%;
  margin-right: 3%;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-size: 1rem;
}

.chat-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 48vh;
  padding: 0px 10px;
  overflow: scroll;
  align-items: baseline;
  word-break: break-all;
}

.chat-box::-webkit-scrollbar {
  display: none;
}
.chat {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chat-image {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
}

.chat-image img {
  object-fit: cover;
  border-radius: 100%;
  width: 100%;
  height: 100%;
}

.chat-message {
  position: relative;
  margin: 0 1rem 0 0.5rem;
  background-color: aliceblue;
  padding: 1rem 1rem;
  border-radius: 10px;
  white-space: pre-line;
}

.system {
  align-self: center !important;
  font-size: 0.8rem;
}

.system div {
  background-color: rgba(0, 0, 0, 0) !important;
}

.incoming {
  text-align: left;
}

.outgoing {
  align-self: flex-end;
  text-align: left;
}

.send-box {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20%;
  background-color: thistle;
}

.send-box form {
  display: flex;
  width: 100%;
  background-color: white;
  margin: 0;
}

.chatting-input {
  display: inline-block;
  border: none;
  margin: 0;
  padding: 20px;
  border-radius: 0;
  width: 85%;
  resize: none;
}

.send-message {
  background-color: white;
  height: 100%;
  width: 15%;
  border: none;
}

.incoming .chat-message:after {
  content: "";
  position: absolute;
  left: 0%;
  top: 30%;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-right-color: aliceblue;
  border-left: 0;
  border-top: 0;
  margin-top: -4px;
  margin-left: -8px;
}

.outgoing .chat-message:after {
  content: "";
  position: absolute;
  right: 0%;
  top: 30%;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-left-color: aliceblue;
  border-right: 0;
  border-top: 0;
  margin-top: -4px;
  margin-right: -8px;
}
