.container {
  grid-template-areas:
    "header header header"
    "sidebar creator creator"
    "sidebar creator creator"
    "footer footer footer";

  grid-template-columns: 310px 1170px;
  grid-template-rows: 40px 630px 20px;
}

.creator {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  background-color: white;
  margin: auto;
  margin-top: 80px;
  border-radius: 16px;
}

.title-box {
  display: flex;
  flex-direction: column;
}

.date-box {
  display: flex;
  flex-direction: column;
}

.creat-btn {
  margin: auto;
  margin-top: 130px;
}
