.container {
  grid-template-areas:
    "header header"
    "sidebar creator"
    "footer footer";

  grid-template-columns: 310px auto;
  grid-template-rows: 50px auto 20px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.creator {
  display: flex;
  flex-direction: column;
  width: 25vw;
  height: auto;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 13%);
}

h1 {
  font-size: 2rem;
  margin: 2rem auto 0rem auto;
}

h2 {
  font-size: 1.5rem;
  margin: 1rem 50px 0 50px;
}

h3 {
  font-size: 1rem;
  margin: 0.5rem 50px;
}

input[type="text"] {
  width: 80%;
  border: none;
  border-bottom: 2px solid rgb(0, 0, 0);
  margin: auto;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  font-size: 16px;
}

input[type="text"]:focus {
  border-color: rgb(29, 142, 255);
  background-color: rgb(241, 248, 255);
  box-shadow: 0 0 8px 0 dodgetBlue;
}

input[type="date"] {
  width: 80%;
  border: none;
  border-bottom: 2px solid black;
  margin: auto;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  font-size: 16px;
}

input[type="date"]:focus {
  border-color: rgb(29, 142, 255);
  background-color: rgb(241, 248, 255);
  box-shadow: 0 0 8px 0 dodgetBlue;
}

.title-box {
  display: flex;
  flex-direction: column;
}

.date-box {
  display: flex;
  flex-direction: column;
}

.creat-btn {
  border-radius: 30px;
  margin: auto;
  margin-top: 3vh;
  margin-bottom: 3vh;
  color: #458bc6;
  border: 2px solid #458bc6;
  background-color: #458cc600;
  border-radius: 30px;
  padding: 6px 22px;
  text-decoration: none;
  cursor: pointer;
}
.creat-btn:hover {
  background-color: #458bc6;
  color: white;
  transition: 0.1s;
}
