.container {
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";

  grid-template-columns: 310px auto;
  grid-template-rows: 50px auto 20px;
}

main {
  position: relative;
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.main-content {
  display: flex;
  flex-direction: column;
  column-gap: 100px;
  color: rgb(0, 0, 0);
  justify-content: space-around;
}

.edit-profile-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  padding: 1% 2% 2% 2%;
  width: 20%;
  min-width: 250px;
  height: auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 13%);
  border-radius: 5px;
}

.pf-title {
  margin: 10px 0;
}

.profile-box {
  align-self: center;
  width: 10rem;
  height: 10rem;
  max-width: 10rem;
  max-height: 10rem;
  border-radius: 50%;
  overflow: hidden;
  background-color: #dfdfdf;
}

.profile-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-box {
  display: flex;
  flex-direction: column;
}

.nickname,
.email {
  text-align: center;
  padding: 20px;
}

input[type="text"] {
  width: auto;
  border: none;
  border-bottom: 2px solid rgb(0, 0, 0);
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  font-size: 16px;
}

input[type="text"]:focus {
  border-color: rgb(29, 142, 255);
  background-color: rgb(241, 248, 255);
  box-shadow: 0 0 8px 0 dodgetBlue;
}

.edit-button {
  width: 60%;
  align-self: center;
  margin-top: 30px;
  background-color: #68a9e9;
  padding: 10px 20px;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edit-button:hover {
  background-color: rgb(39, 95, 141);
  color: rgb(255, 255, 255);
  transition: 0.1s;
}

.deco {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.box {
  width: 10px;
  height: 30px;
  background-color: #6662f5;
}
