.container {
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 70px auto 20px;
}

/*헤더 css 시작*/

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 40px;
  gap: 50px;
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 13%);
  z-index: 2;
}

.inv-btn {
  color: white;
  background-color: #48adff;
  padding: 6px 22px;
  text-decoration: none;
  border: none;
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 13%);
  cursor: pointer;
}

.inv-btn:hover {
  background-color: #1e9aff;
  transition: 0.1s;
}

/*헤더 css 끝*/

footer {
  margin-right: 1% !important;
}

main {
  grid-area: main;
  display: grid;
  grid-template-areas:
    "search map place-box chat"
    "recommand recommand place-box chat";
  grid-template-columns: 250px 700px 300px auto;
  grid-template-rows: auto 200px;
  gap: 5px;
}
/*검색창 css 시작*/
.search {
  grid-area: search;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 13%);
}

input[type="text"] {
  width: 80%;
  border: 2px solid #aaa;
  border-radius: 4px;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  font-size: 16px;
  margin: 15px 25px 5px 25px;
}

input[type="text"]:focus {
  border-color: rgb(29, 142, 255);
  background-color: rgb(241, 248, 255);
  box-shadow: 0 0 8px 0 dodgetBlue;
}

.search-result {
  width: 100%;
  background-color: rgb(255, 255, 255);
  max-height: 357px;
  overflow: scroll;
}

.search-result::-webkit-scrollbar {
  display: none;
}

.result {
  width: 100%;
  background-color: rgb(255, 255, 255);
  margin: auto;
  padding: 5px;
  cursor: pointer;
}

.result:hover {
  background-color: whitesmoke;
}

.obj-adress {
  font-size: 12px;
  margin: 2px 0px 0px 17px;
  color: #939393;
  max-width: 210px;
}

#toast {
  position: fixed;
  left: 600px;
  bottom: 400px;
  padding: 15px 20px;
  transform: translate(-50%, 10px);
  border-radius: 15px;
  overflow: hidden;
  font-size: 0.8rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s, transform 0.5s;
  background: rgba(0, 0, 0, 0.35);
  color: #fff;
  z-index: 10000;
}

#toast.reveal {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, 0);
}

/*검색창 css 끝*/

.map {
  grid-area: map;
  width: 100%;
  height: 100%;
  background-color: blue;
}

/*여행지 리스트 CSS 시작*/

.place-box {
  grid-area: place-box;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 13%);
}

.add-btn {
  color: white;
  background-color: #48adff;
  padding: 20px 22px;
  text-decoration: none;
  border: none;
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 13%);
  cursor: pointer;
}

.add-btn:hover {
  background-color: #1e9aff;
  transition: 0.1s;
}

.place-list {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 513px;
  max-height: 513px;
  overflow: scroll;
}

.place-list::-webkit-scrollbar {
  display: none;
}

.day-box {
  text-align: center;
  background-color: rgb(211, 248, 255);
  border-top: 1px solid rgba(128, 128, 128, 0.356);
  border-bottom: 1px solid rgba(128, 128, 128, 0.356);
}

.place-object {
  display: grid;
  grid-template-areas:
    "name btn"
    "memo memo";
  background-color: whitesmoke;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}

.del-btn {
  grid-area: btn;
  width: 30px;
  height: 30px;
  text-align: center;
  float: right;
  border: none;
  background-color: rgba(245, 245, 245, 0);
  justify-self: right;
  cursor: pointer;
}

.obj-name {
  grid-area: name;
  margin-left: 12px;
  margin-top: 5px;
  margin-bottom: 12px;
}

.obj-memo {
  grid-area: memo;
  margin: 0 13px;
  padding: 5px;
  height: 30px;
}

textarea {
  resize: none;
  overflow: scroll;
  width: 85%;
  border: 2px solid #aaa;
  border-radius: 4px;
  outline: none;
}

textarea::-webkit-scrollbar {
  display: none;
}

textarea:focus {
  border-color: rgb(29, 142, 255);
  background-color: rgb(241, 248, 255);
  box-shadow: 0 0 8px 0 dodgetBlue;
}

.save-btn {
  color: white;
  background-color: #5846ff;
  padding: 20px 22px;
  text-decoration: none;
  border: none;
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 13%);
  cursor: pointer;
}
.save-btn:hover {
  background-color: #322791;
  transition: 0.1s;
}

/*여행지 리스트 CSS 끝*/

/*여행지 추천시스템 CSS */

.recommandation-box {
  grid-area: recommand;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 13%);
}

.recommandation-header {
  grid-area: recommand;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  height: 30px;
  cursor: pointer;
}

.categories {
  background-color: rgb(255, 255, 255);
  padding: 4px 10px;
  width: 80px;
  text-align: center;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.recommandation {
  grid-area: recommand;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.recommandation-object {
  position: relative;
  width: 160px;
  height: 150px;
  background-color: whitesmoke;
  margin: 10px;
  text-overflow: ellipsis;
  text-align: center;
  overflow: hidden;
}

.obj-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  position: absolute;
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.2s;
}

.recommandation-object:hover .info {
  opacity: 1;
}

.obj-add-btn {
  color: white;
  background-color: #48adff;
  padding: 6px 22px;
  text-decoration: none;
  border: none;
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 13%);
  cursor: pointer;
}

.obj-add-btn:hover {
  background-color: #1e9aff;
  transition: 0.1s;
}

/*여행지 추천시스템 CSS 끝*/

.chatting {
  grid-area: chat;
  background-color: white;
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 13%);
  text-align: center;
  line-height: 35;
  z-index: 3;
}

/*일정추가 버튼 click시 이벤트 발생 --> .add-place의 display를 block으로*/
/*
.add-place {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.644);
  z-index: 2;
}

.add-box {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 250px;
  margin: 230px 540px;
  top: 100px;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 20px;
}

.add-plc {
  width: 90% !important;
  border: 2px solid #aaa;
  border-radius: 4px;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  font-size: 16px;
  margin: 10px !important;
}

.add-plc:focus {
  border-color: rgb(29, 142, 255);
  background-color: rgb(241, 248, 255);
  box-shadow: 0 0 8px 0 dodgetBlue;
}

.add-plc-btn {
  color: white;
  background-color: #48adff;
  width: 100px;
  padding: 6px 22px;
  margin: 30px 0;
  text-decoration: none;
  border: none;
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 13%);
  cursor: pointer;
  align-self: center;
}

.add-plc-btn:hover {
  background-color: #1e9aff;
  transition: 0.1s;
}
.exit-btn {
  margin-left: 375px;
  width: 30px;
  height: 30px;
  border: none;
  background-color: rgba(245, 245, 245, 0);
  cursor: pointer;
}
*/
/*exit-btn 클릭 시 이벤트 add-place의 display:none으로*/
