.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}
.material-icons.orange600 {
  color: #fb8c00;
}
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
.material-icons.md-1 {
  font-size: 1rem;
}
.material-icons.md-15 {
  font-size: 1.5rem;
}
.material-icons.md-2 {
  font-size: 2rem;
}
.material-icons.md-25 {
  font-size: 2.5rem;
}
.material-icons.md-3 {
  font-size: 3rem;
}
.material-icons.md-4 {
  font-size: 4rem;
}
