html::-webkit-scrollbar {
  display: none;
}

/*칸반 css 시작*/

.kanban {
  position: relative;
  color: #383838;
  display: flex;
  width: 16%;
  height: 95%;
  background: #ffffff;
  border-radius: 5px;
  flex-direction: column;
  overflow: scroll;
  max-height: 89vh;
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 13%);
}

.kanban::-webkit-scrollbar {
  display: none;
}

.kanban__column {
  margin: 15px;
  background-color: rgb(255, 255, 255);
}

.kanban__column-title {
  text-align: center;
  padding: 5px 0 5px 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
  user-select: none;
  background-color: rgb(218, 218, 218);
  border-radius: 10px;
}

.kanban__dropzone {
  grid-area: dr;
  height: 20px;
  background-color: rgb(241, 241, 241);
  border-radius: 10px;
  margin: 10px 0;
  transition: background 0.15s, height 0.15s;
}

.notice {
  display: flex;
  margin-top: 5px;
  justify-content: center;
  align-items: center;
  height: 40px !important;
  background-color: rgb(241, 241, 241);
  border-radius: 10px;
  margin-bottom: 15px;
}

.empty {
  grid-area: dr;
  height: 89px;
  background-color: white;
  transition: background 0.15s height 0.15s;
}

.empty:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

.kanban__dropzone--active {
  height: 40px;
  background: rgba(0, 0, 0, 0.25);
}

.kanban__item {
  display: grid;
  grid-template-areas:
    "title del"
    "adr adr"
    "dr dr";
  grid-template-columns: 80% 20%;
  cursor: grab;
}

.kanban__item:active {
  cursor: grabbing;
}

.kanban__item-name {
  grid-area: title;
  padding: 10px 0px 0px 20px;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 5px 0px 0px 0px;
  z-index: 2;
}

.kanban__item-road_adr {
  grid-area: adr;
  font-size: 0.8rem;
  padding: 0 10px 10px 20px;
  border-radius: 0px 0px 5px 5px;
  z-index: 1;
  box-shadow: 5px 7px 20px 0px #d0efff8a;
}

.kanban__item button {
  grid-area: del;
  border: none;
  cursor: pointer;
  background-color: white;
  padding: 15px 0px 0px 0px;
  border-radius: 0 5px 0 0;
  z-index: 2;
  color: #383838;
}

.kanban__item button:hover {
  color: rgb(167, 167, 167);
}
