.plan-title {
  font-weight: bold;
  font-size: 1.8rem;
}

.participant {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
}

.participant div {
  width: 2rem;
  height: 2rem;
}

.participant div img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
  overflow: hidden;
}

.notattend {
  opacity: 0.2;
}

.plan-date {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.plan-date span {
  font-weight: normal;
  font-size: 1.2rem;
  margin: 0 1rem;
  padding-top: 0.3rem;
}

.main-content {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: whitesmoke;
}

.recommandation {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 18%;
  height: 95%;
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 13%);
  border-radius: 5px;
}

#regionbtn {
  color: #383838;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-align: center;
  border: none;
  height: 8vh;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
}

.recommandation__categories {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.category {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 8vh;
  line-height: 8vh;
  background-color: #20253b;
  color: white;
  cursor: pointer;
}

.category:hover {
  background-color: white !important;
  color: #20253b !important;
  transition: 0.2s;
}

.category-name {
  width: 0;
  overflow: hidden;
}

.recommandation__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 10px;
  overflow: scroll;
  max-height: 65vh;
}

.recommandation__list::-webkit-scrollbar {
  display: none;
}

.recommandation__list li {
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 0 5px;
}

.recommandation__list li:hover {
  background-color: whitesmoke;
}

.recommandation__list li img {
  border-radius: 10px;
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  overflow: hidden;
}

.recommandation__list li div {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 10px 20px;
}

.recommandation__list li div div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 0;
  gap: 5px;
}

.recommandation__list li div div button {
  float: right;
}

.reco-title {
  font-size: 1.1rem;
  font-weight: bold;
}

.wrap-star {
  padding: 0 !important;
}

.star-rating {
  display: flex;
  flex-direction: row !important;
  width: 100%;
  position: relative;
}

.star-rating span {
  float: left;
}

.star {
  width: 90px;
  height: 15px;
  background: url("../images/star.png") no-repeat;
}

.rating {
  width: 100%;
  height: 23px;
  overflow: hidden !important;
  background: url("../images/star-filled2.png") no-repeat;
  z-index: 100;
}

.search-list {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: white;
  width: 19%;
  height: 95%;
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 13%);
  border-radius: 5px;
}

#search-form {
  display: flex;
  flex-direction: row;
  background-color: whitesmoke;
  border-radius: 5px 5px 0 0;
}

#search-form input {
  padding: 20px 15px;
  width: 80%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid black;
  border-radius: 0;
  background-color: inherit;
}

input[type="text"]:focus {
  border: none;
  outline: none;
}

.search-btn {
  width: 16% !important;
  margin: 0 0 0 0;
  cursor: pointer;
  border: none;
  line-height: 10%;
  background-color: whitesmoke;
}

.clear-btn {
  width: 16% !important;
  margin: 0 0 0 0;
  cursor: pointer;
  border: none;
  line-height: 10%;
  background-color: whitesmoke;
}

.search-list ul {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  max-height: 75vh;
  margin: 10px 0;
  padding: 10px 0px;
}

.search-list ul::-webkit-scrollbar {
  display: none;
}

.search-list ul li {
  border: 2px solid rgba(255, 255, 255, 0);
  padding: 10px 10px;
  border-bottom: 2px solid rgba(223, 223, 223, 0.363);
}

.search-list ul li:hover {
  background-color: whitesmoke;
}

.search-list ul li span {
  font-size: 1rem;
  font-weight: bold;
}

.search-list ul li p {
  font-size: 0.8rem;
}

.search-list ul div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  align-self: center;
  justify-self: center;
  color: #8a8a8a;
  width: 100%;
}

.more-btn {
  background-color: rgba(0, 0, 0, 0) !important;
  border: none;
  float: right;
  margin-top: 5px;
  cursor: pointer;
}

.more-btn:hover {
  color: rgb(110, 110, 110);
}

#map {
  width: 45%;
  height: 65%;
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 13%);
  border-radius: 5px;
}

.map-info {
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 50px;
  background: rgba(0, 0, 0, 0.658);
  align-items: center;
  margin-bottom: 10px;
  border-radius: 5px;
}

.map-info:after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: rgba(0, 0, 0, 0.658);
  border-bottom: 0;
  margin-left: -10px;
  margin-bottom: -10px;
}

.map-info img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
  margin-left: 5px;
}

.map-info h3,
.map0info p {
  color: white;
  margin: 0 !important;
  margin-left: 10px !important;
}

#save {
  font-size: 1.3rem;
  color: #458bc6;
  border: 2px solid #458bc6;
  background-color: #458cc600;
  width: 6rem;
  height: 3rem;
  border-radius: 30px;
  cursor: pointer;
}

#save:hover {
  background-color: #458bc6;
  color: white;
  transition: 0.1s;
}

textarea:focus {
  border-color: rgb(29, 142, 255);
  background-color: rgb(241, 248, 255);
  border: none;
  outline: none;
  border-bottom: 1px solid #00000000;
  border-top: 1px solid #0000001f;
}

.kanban__item-name,
.kanban__item-road_adr,
.kanban__item button,
#regionbtn {
  background-color: #d0efff;
}
