.login-btn {
  color: white;
  font-size: 20px;
  width: auto;
  height: auto;
  display: block;
  padding: 20px;
  margin: 150px auto;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #ffffff61;
}

.login-btn:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.247);
  transition: 0.3s;
  border: 1px solid rgba(255, 0, 0, 0);
}
