.region-place {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.644);
  z-index: 3;
}

.jejumap {
  position: relative;
  width: 808px;
  height: 498px;
  margin: 10% 10% 10% 30%;
}

.jeju-region {
  position: absolute;
  opacity: 0;
}

.jeju-region:hover {
  opacity: 1;
  cursor: pointer;
}

.ad {
  position: absolute;
  opacity: 0;
  top: 275px;
  left: 156px;
}

.dj {
  position: absolute;
  opacity: 0;
  top: 317px;
  left: 63px;
}

.hk {
  position: absolute;
  opacity: 0;
  top: 250px;
  left: 58px;
}

.jm {
  position: absolute;
  opacity: 0;
  top: 258px;
  left: 227px;
}

.skp {
  position: absolute;
  opacity: 0;
  top: 257px;
  left: 359px;
  z-index: 4;
}

.kj {
  position: absolute;
  opacity: 0;
  top: 47px;
  left: 515px;
}

.wd {
  position: absolute;
  opacity: 0;
  top: 93px;
  left: 715px;
}

.jc {
  position: absolute;
  opacity: 0;
  top: 54px;
  left: 390px;
}

.jj {
  position: absolute;
  opacity: 0;
  top: 76px;
  left: 268px;
  z-index: 4;
}

.aw {
  position: absolute;
  opacity: 0;
  top: 124px;
  left: 168px;
}

.hl {
  position: absolute;
  opacity: 0;
  top: 173px;
  left: 98px;
}

.ss {
  position: absolute;
  opacity: 0;
  top: 137px;
  left: 606px;
}

.ps {
  position: absolute;
  opacity: 0;
  top: 178px;
  left: 472px;
}

.nw {
  position: absolute;
  opacity: 0;
  top: 226px;
  left: 380px;
}
