.inv-area {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.425);
  z-index: 2000;
}

form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 450px;
  height: 220px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

form div {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
}

form span {
  font-size: 2rem;
  font-weight: bold;
}

form button {
  float: right;
}

input[type="reset"] {
  border: none;
  background: none;
  cursor: pointer;
}

input[name="gmail"] {
  width: 85%;
  align-self: center;
  height: 3rem;
  outline: none;
  border: none;
  border-radius: 10px;
  margin: 1rem;
  padding: 0 20px;
  background: whitesmoke;
}

input[type="submit"] {
  width: 5rem;
  height: 3rem;
  align-self: self-end;
  margin-top: 1rem;
  margin-right: 1rem;
  border: none;
  border-radius: 5px;
  background: rgb(255, 172, 48);
  color: white;
}

input[type="submit"]:hover {
  background: rgb(204, 138, 38);
  transition: 0.2s;
  cursor: pointer;
}

.container {
  grid-template-areas:
    "header header"
    "sidebar day-btn"
    "sidebar main"
    "footer footer";
  grid-template-columns: 310px auto;
  grid-template-rows: 50px 50px auto 20px;
}

main {
  position: relative;
  background-color: rgb(255, 255, 255);
  grid-area: main;
  margin: 10px 15px;
  border-radius: 0 5px 5px 5px;
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 19%);
  height: auto;
  width: auto;
}

.day-button {
  grid-area: day-btn;
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 15px 0 0 15px;
}

.btn {
  background-color: rgb(229 229 229);
  width: 120px;
  height: 45px;
  max-width: 186px;
  border-radius: 15px 15px 0 0;
  line-height: 3;
  box-shadow: -2px -3px 4px 0 rgb(0 0 0 / 11%);
  cursor: pointer;
}

/*info가 선택되었는지, 아닌지에 따라 day-plan과 whole-plan의
display가 바뀌면 됨 whole-plan은 flex <-> none, day-plan은 grid <-> none*/
.whole-plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.plan-info {
  display: grid;
  grid-template-areas:
    "map date"
    "map par"
    "map btns";
  grid-template-columns: 60% 30%;
  grid-template-rows: 10% 75% 15%;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

#total-map {
  grid-area: map;
  width: 80%;
  height: 60vh;
  background-color: rgb(211, 211, 211);
  border-radius: 10px;
}

.participants {
  position: relative;
  grid-area: par;
  display: flex;
  flex-direction: column;
  width: 85%;
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  align-self: baseline;
}

.user {
  display: flex;
  padding: 20px;
  align-items: center;
  gap: 20px;
  font-size: 1rem;
}

.userimg {
  display: inline-block;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  background-color: cornsilk;
}

.date {
  grid-area: date;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  font-size: 1.3rem;
}

.btns {
  grid-area: btns;
}

.edit-btn {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  color: white;
  background-color: green;
  margin: 15px;
  border: none;
  cursor: pointer;
}

.del-btn {
  position: absolute;
  top: 4%;
  left: 92%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 40px;
  border-radius: 5px;
  color: white;
  background-color: rgb(255, 0, 0);
  margin: 15px;
  border: none;
  cursor: pointer;
}

.inv-btn {
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  margin: 15px;
  color: white;
  background-color: rgb(255, 102, 0);
  z-index: 2000;
  cursor: pointer;
}

.plan-buttons {
  margin-top: auto;
}

.day-plan {
  height: 100%;
  display: grid;
  grid-template-areas:
    "title title"
    "day day"
    "map object";
  justify-items: center;
  grid-template-columns: 60% 40%;
  grid-template-rows: 16% 8% 76%;
}

.day-map {
  grid-area: map;
  width: 80%;
  height: 60vh;
  margin: 10px auto;
  border-radius: 10px;
}

.plan-title {
  grid-area: title;
}

.plan-day {
  grid-area: day;
  font-size: 2rem;
}

.place-object {
  grid-area: object;
  display: flex;
  flex-direction: column;
  height: auto;
  gap: 15px;
  max-height: 445px;
  padding: 1px;
  overflow: scroll;
  /*스크롤 바*/
}

.place-object::-webkit-scrollbar {
  display: none;
}

.p-obj {
  width: 400px;
  border-radius: 10px;
  text-align: left;
  background-color: #f9fbff;
  color: #272727;
  box-shadow: 1px 1px 1px 0px rgb(0 0 0 / 23%);
}

.obj-name {
  margin-left: 12px;
}

.obj-adress {
  margin: -18px 1px 1px 19px;
  color: #939393;
}

.obj-memo {
  margin-left: 13px;
  padding: 17px 0px;
}
